// <br/><br/><br/>7:00 pm •<br/>
color: black;
 font-size: 13px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Lunar New Year Celebration with Zishi Liu and Friends<br/>
color: black;
 font-size: 13px;
 font-family: Roboto Serif;
 font-weight: 500;
 text-decoration: underline;
 word-wrap: break-word
---
// <br/>7:00 pm •<br/>
color: black;
 font-size: 13px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// “alla Bolognese”
color: black;
 font-size: 13px;
 font-family: Roboto Serif;
 font-weight: 500;
 text-decoration: underline;
 word-wrap: break-word
---
// Estranged from his wife and son during the Covid pandemic lockdown, Frank accepts a job as a content moderator for the world’s largest social media company. <br/><br/>As he evaluates a never-ending stream of 
color: black;
 font-size: 11px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Central Square Theater<br/>450 Massachusetts Ave. Cambridge, MA 02139
color: black;
 font-size: 11px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Events
color: black;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// March 5th
color: black;
 font-size: 16px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// Event Website
color: black;
 font-size: 11px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// March
color: white;
 font-size: 40px;
 font-family: Roboto Serif;
 font-weight: 600;
 word-wrap: break-word
---
// 1
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 15
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 8
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 22
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 29
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 5
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 19
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 12
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 26
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 4
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 18
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 11
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 25
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 2
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 16
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 9
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 23
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 30
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 3
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 17
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 10
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 24
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 31
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 6
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 20
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 13
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 27
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 7
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 21
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 14
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// 28
color: black;
 font-size: 24px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// ThotBot Implantation 
color: black;
 font-size: 11px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// <br/>
color: black;
 font-size: 13px;
 font-family: Roboto Serif;
 font-weight: 500;
 text-decoration: underline;
 word-wrap: break-word
---
// February 5 @ 7:30 pm - March 1 @ 9:00 pm
color: black;
 font-size: 10px;
 font-family: Roboto Serif;
 font-weight: 500;
 word-wrap: break-word
---
// <br/><br/><br/><br/>
color: #C1C1C1;
 font-size: 4px;
 font-family: Roboto;
 font-weight: 400;
 word-wrap: break-word